/* 기본사항 */
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,address,span,*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
li{
    list-style: none;

}
a {
    text-decoration: none;
    color: #121212;
}

.blind{
    position:absolute;
    top:-99999px;
}

body{
    font-family:"Roboto","Nanum";
    font-size:18px;
    color:#121212;
    line-height: 1;
}

.screen-box::-webkit-scrollbar {
	display:none; /* Chrome , Safari , Opera */
}
img{
    vertical-align: top;
    border: 0;
}

button,label{
    outline: none;
    cursor: pointer;
}
hr {
    display:none;
}
table{
    border-collapse: collapse;
}
th,td{
    padding:0;
}
address,i{
    font-style: normal;
}

/* clear */
.clear::after{
    content: "";
    display: block;
    clear: both;
}


/* skip_menu */
.skip_menu a{
    position:absolute;
    top:-9999px;
    display:block;
    line-height:50px;
    color: white;
    background: black;
    text-align: center;
}
.skip_menu a:focus{
    top: 0;
}
/* 사용 폰트 */
@font-face{
    font-family:"Nanum";
    font-weight: 700;
    src:url(../font/NanumMyeongjo-Bold.woff)
}
@font-face{
    font-family:"Nanum";
    font-weight: 400;
    src:url(../font/NanumMyeongjo-Regular.woff)
}
@font-face{
    font-family:"Roboto";
    font-weight: 300;
    src:url(../font/Roboto-Light.woff)
}
@font-face{
    font-family:"Roboto";
    font-weight: 400;
    src:url(../font/Roboto-Regular.woff)
}
@font-face{
    font-family:"Roboto";
    font-weight: 500;
    src:url(../font/Roboto-Medium.woff)
}
@font-face{
    font-family:"Roboto";
    font-weight: 700;
    src:url(../font/Roboto-Bold.woff)
}